.sentiment {
  padding: .3rem;
  font-weight: bold;  
  border-radius: .5rem;
  color: black;

  &.negative {    
    background-color: #B43757;  
    color: white;
  }

  &.positive {
    background-color: palegreen;    
  }

  &.neutral {
    background-color: lightgray;
  }
}

.bold {
  font-weight: bold;
}

.capitalized {
  text-transform: capitalize;
}